In [1]:
import os

import dotenv
from pymongo import MongoClient
import pandas as pd

client = MongoClient()

In [2]:
# Now load the .csv and convert to the .json we need

In [2]:
chron_df = pd.read_csv("glossary.csv")

In [4]:
chron_df

,entry_id,year,id,ME_Cyclopedia_id,chron_section,header,header_id,start_approx,month_start,day_start,...,travel,labeled,manual_label,not_in_chronicle,notes,ME_Register,Notebooks_Marx,ME_Register_auto,Entities,03_Register_auto
0,18_1_1,1818,1,18:1,MAY,1. Birth (M).,1.0,NaN,May,5,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,19_1_2,1819,2,19:1,OCTOBER,1. Residence.,1.0,NaN,Oct,1,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20_1_3,1820,3,20:1,NOVEMBER,1. Birth (E).,1.0,NaN,Nov,28,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,21_1_4,1821,4,21:1,JANUARY,1. Baptism.,1.0,NaN,Jan,18,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,23_1_5,1823,5,23:1,MAY,1. Grandmother.,1.0,NaN,May,13,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7440,95_37_6451,1895,6451,95:37,AUGUST,37. Engels’ Death.,37.0,NaN,Aug,4,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7441,95_37_6452,1895,6452,95:37,AUGUST,37. Engels’ Death.,37.0,NaN,Aug,5,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7442,95_37_6453,1895,6453,95:37,AUGUST,37. Engels’ Death.,37.0,NaN,Aug,6,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7443,95_37_6454,1895,6454,95:37,AUGUST,37. Engels’ Death.,37.0,NaN,Aug,10,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7444,95_37_6455,1895,6455,95:37,AUGUST,37. Engels’ Death.,37.0,NaN,Aug,27,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
chron_json = chron_df.to_json(orient="records")

In [12]:
chron_json[:500]

'[{"entry_id":"18_1_1","year":1818,"id":1,"ME_Cyclopedia_id":"18:1","chron_section":"MAY","header":"1. Birth (M).","header_id":1.0,"start_approx":null,"month_start":"May","day_start":"5","end_approx":null,"month_end":null,"day_end":null,"text":"Marx is born at 2 a.m. in Trier, at Br\\u00fcckergasse 664 (now Br\\u00fcckenstrasse 10), into which the family had moved only days before, on May 1.","len":137,"M":"checked","E":null,"category":"Birth","interaction_with":null,"meeting_of":null,"about":null,'

In [13]:
with open("chronicle_ocr.json", 'w', encoding='utf-8') as outfile:
    outfile.write(chron_json)